<div class="parallax">
  <div class="parallax_layer parallax_layer--back">
    <div class="title">Background Layer</div>
  </div>
  <div class="parallax_layer parallax_layer--base">
    <div class="title">Foreground layer</div>
  </div>
  <div class="parallax_layer parallax_layer--deep">
    <div class="title">Deeper layer</div>
  </div>
  <div class="parallax_layer_RTL parallax_layer--right-left">
    <div class="title">
      moving from right to the left of the screen when scrolling
    </div>
  </div>
</div>

<router-outlet></router-outlet>
